@model inventario.Direccion

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<div>
    <h4>Direccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumExt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumExt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumInt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumInt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodePostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodePostal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
