@model IEnumerable<inventario.Empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sueldo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sueldo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEmp }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEmp }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEmp })
        </td>
    </tr>
}

</table>
