@model IEnumerable<inventario.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Personas</h2>

<p class="btn btn-green">
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Direccion.Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion.Pais)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdPer }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdPer }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdPer })
                </td>
            </tr>
        }
    </tbody>
       

</table>
