@model IEnumerable<inventario.Contacto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdCon }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdCon }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdCon })
                </td>
            </tr>
        }
    </tbody>
</table>
