@model IEnumerable<inventario.Cabecera>

@{
    ViewBag.Title = "Index";
}

<h2>Cabecera</h2>

<p class="btn btn-green">
    @Html.ActionLink("Agregar venta", "Create")
</p>
<p class="btn btn-green">
    @Html.ActionLink("Detalles", "Index", "Detalles")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                No. Ticket
            </th>
            <th>
                Departamento
            </th>
            <th>
                Cliente
            </th>
            <th>
                Empleado
            </th>
            <th>
                Movimiento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCab)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Persona.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado.Persona.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movimiento.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdCab }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdCab }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdCab })
                </td>
            </tr>
        }
    </tbody>



</table>
