@model IEnumerable<inventario.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Persona.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th></th>
        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdCli }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdCli }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdCli })
                </td>
            </tr>
        }
    </tbody>

        

</table>
