@model IEnumerable<inventario.Detalle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="btn btn-green">
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cabecera.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>    
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cabecera.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdDet }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.IdDet }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdDet })
        </td>
    </tr>
}
    </tbody>
        

</table>
