@model IEnumerable<inventario.ClienteContacto>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes por contacto</h2>

<p class="btn btn-green">
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacto.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>

        

</table>
