@model IEnumerable<inventario.EmpleadoContacto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="btn btn-green">
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contacto.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado.IdEmp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contacto.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.IdEmp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
    </tbody>
        

</table>
