@model IEnumerable<inventario.Proveedor>

@{
    ViewBag.Title = "Index";
}

<h2>Proveedor</h2>

<p class="btn btn-green">
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                ID Proveedor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdProv }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.IdProv }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdProv })
            </td>
        </tr>
}
    </tbody>
        

</table>
