@model IEnumerable<inventario.Movimiento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="btn btn-green"> 
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.IdMov }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.IdMov }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.IdMov })
        </td>
    </tr>
}
    </tbody>
        

</table>
